.newProjectPage form, 
.newProjectPage input,
.newProjectPage optgroup,
.newProjectPage select{
    font: inherit;
    color: inherit;
    margin: 10px;}
    .native-input.sc-ion-input-md {
        padding: 0;
    }