.message ion-content ion-avatar {
  width: 100% !important;
  height: 100% !important;
}

.message ion-content {
  --background: #7c7899;
}

.message ion-content .hearder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
  height: 10vh;
}

.message ion-content .hearder ion-icon {
  font-size: 1.6rem;
  color: #fff;
}

.message ion-content .info {
  display: flex;
  align-items: center;
}

.message ion-content .info ion-avatar {
  max-width: 51px;
  max-height: 51px;
  margin-left: 15px;
}

.message ion-content .info .details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.message ion-content .info .details h1,
.message ion-content .info .details p {
  margin: 0;
  color: #fff;
  margin-left: 10px;
}

.message ion-content .info .details h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.message ion-content .info .details p {
  opacity: 0.7;
  margin-top: 3px;
  font-size: 0.8rem;
}

.message .conversation {
  background: #fff;
  height: calc(100% - 56px);
  margin-top: 5px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
}

.message .conversation .chat-section {
  height: calc(100% - 90px);
  width: 100%;
  overflow: auto;
}

/* .message .conversation .chat-section::-webkit-scrollbar{
    display: none;
} */

.message .conversation .chat-section .chat {
  display: flex;
  flex-direction: column;
}

.message .conversation .chat-section .messages {
  display: flex;
  flex-direction: column;
}

.message .conversation .chat-section .messages .message {
  border-radius: 18px;
  padding: 18px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.message .conversation .chat-section .yours {
  align-items: flex-start;
}

.chat-section .yours span {
  font-size: 0.7rem;
  color: #a6a6a6;
  /* margin-left: 40px; */
}

.chat-section .yours .message {
  background: #eee;
  position: relative;
}

.chat-section .yours .message.last::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  width: 20px;
  height: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.chat-section .yours .message.last::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #fff;
  border-bottom-right-radius: 10px;
}

.chat-section .yours .last-message-other {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat-section .yours .last-message-other ion-avatar {
  max-width: 30px;
  max-height: 30px;
  margin-right: 15px;
  margin-bottom: 7px;
}

.chat-section .mine {
  align-items: flex-end;
}
.chat-section .mine span {
  font-size: 0.7rem;
  color: #a6a6a6;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chat-section .mine span ion-icon {
  font-size: 1.1rem;
}

.chat-section .mine .message {
  color: #fff;
  margin-left: 25%;
  background: #feacac;
  background-attachment: fixed;
  position: relative;
}

.chat-section .other {
  margin-left: 45px;
}

.message .message-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 20px;
  width: 90vw;
  left: 50%;
  margin-left: -45vw;
}

.message .message-input ion-input {
  border: 1px solid #ddd;
  background: #ddd;
  border-radius: 20px;
  height: 48px;
  --padding-start: 20px;
}

.message .message-input .send-button {
  margin-left: 20px;
  background: #feacac;
  padding: 12px 12px 9px 15px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.31rem;
}

.message .username {
  font-size:0.7rem;
  padding-bottom: 0.5rem;
}