.messageList ion-header ion-toolbar{
    --background: #7c7899;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #fff;
}

.messageList ion-content{
    --background : #fff
}

.messageList .tabs ion-segment{
    --background: none
}

.messageList .tabs ion-segment ion-segment-button{
    font-size: 1rem;
    --border-width:0;
    --padding-start: 8px !important;
    --padding-bottom: 3px !important;
    --padding-end: 8px !important;
    --padding-top: 3px !important;
    --background-checked: #feacac;
    --indicator-color: transparent !important;
    --color: #d1d1d1;
    --color-checked: #fff;
    font-weight : bold;
    border-radius: 22px;
}

.messageList .chat-list{
    background: #fff;
    margin-top: 5px;
    border-top-right-radius: 38px ;
    border-top-left-radius: 38px;
}

.messageList .chat-list .all-chats{
    padding-top: 0;
}

.messageList .chat-list .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7899
}

.messageList .chat-list .heading h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.messageList .chat-list .heading ion-icon{
    font-size:  1.5rem;

}

.messageList .chat-list .chats{
    margin-top: 15px;
}

.messageList .chat-list .chats ion-item::part(native){
    padding: 0;
}

.messageList .chat-list .chats ion-item{
    margin-bottom: 15px;
}
.messageList .chat-list .chats ion-item ion-avatar{
    width: 100% !important;
    height: 100% !important;
    max-width: 51px;  
}

.messageList .chat-list .chats ion-item ion-label h2{
    font-size: 1rem;
    font-weight: bolder;
    color: #7c7899;
}
.messageList .chat-list .chats ion-item ion-label p{
    margin-top: 6px;
    font-size: 0.8rem;
    color: #7c7899;
    opacity: 0.5;
    letter-spacing: 0.5;
    font-weight: bold;
}

.messageList .chat-list .chats .info-div{
    font-size: 0.8rem;
    color: #7c7899;
    font-weight: bolder;
    text-align: right;
}

.messageList .chat-list .chats .info-div p{
    opacity: 0.5;
}
.messageList .chat-list .chats .info-div ion-icon{
    font-size: 1.3rem;
}