.register .title ion-icon:first-child {
    font-size: 20px;
    color: black;
    background: #fff;
    padding: 4px;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 14px;
    margin-top: 6px;
}

.register .title p{
    font-size: 16px;
    line-height: 20px;
}

.register .title h2{
    font-size: 34px;
    font-weight: bold;
    margin-top: 14px;
}

.register .icon-go{
    font-size: 24px;
    margin-right: 10px;
}

.p-4 {
    padding: 0 4px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.register ion-card {
    margin: 4px;
    box-shadow: none;
    background: #d4d4d4;
    border-radius: 16px;
}

.register ion-grid, ion-col {
    padding: 0;
}