.login-bg {
    height: 30%;
    width: 110%;
    background: url('./background.jpg') no-repeat center center/cover;
    border-radius: 0 0 25% 25%;
    margin-left: -5%;
    position: relative;
}

.login-list-header{
    font-weight: 1000;
    font-size: 1.5rem;
}

.login-list ion-item {
    border: 1px solid var(--ion-color-light);
    border-radius: 20px;
    box-shadow: 0 6px 4px -4px var(--ion-color-medium);
}

.login-list ion-label{
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
}
