.header-half {
  height: 50%;
  background: #7972e6;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-radius: 0px 0px 50px 50px;
}

.header-half .logo {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  align-self: center;
  margin-top: 10%;
  background-color: #ffffff;
}

.header-half .logo img {
  width: 85%;
}

.header-half h2 {
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.welcome-ioncard {
  box-shadow: none;
  position: absolute;
  top: 37%;
  left: 5%;
  right: 5%;
  border-radius: 20px;
  z-index: 200;
}

.welcome-ioncard h1 {
  font-weight: bold !important;
  font-size: 19px !important;
  text-align: center;
  margin-bottom: 5px !important;
}

.welcome-ioncard p {
  text-align: center;
  font-size: 16px !important;
  margin-bottom: 45px !important;
}

.welcome-ioncard ion-button {
  height: 40px;
  --box-shadow: none;
  text-transform: initial;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
}

.welcome-ioncard .line_text {
  padding: 2px;
  margin-top: 40px;
  position: relative;
  height: 20px;
}

.welcome-ioncard .lines {
  height: 1px;
  background: #858585;
  display: block;
}

.welcome-ioncard .text {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 500;
  color: #5e5e5e;
}

.welcome-ioncard .socials {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.welcome-ioncard .socials ion-button {
  margin: 0 5px;
  --padding-start: 12px;
  --padding-end: 12px;
}

.socials ion-icon {
  font-size: 18px;
  color: white;
}

.socials .btn-fb {
  --background: #567aa3;
}

.socials .btn-tw {
  --background: #48cff5;
}

.socials .btn-go {
  --background: #fd684f;
}

.socials .btn-ap {
  --background: #737373;
}